@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/user/login.css" />
<div>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/pic/logo.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <div>
                <form method="post" asp-action="Index" asp-route-returnurl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <input type="text" asp-for="UserName" id="username" name="username" class="fadeIn second" placeholder="Username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div>
                        <input type="password" asp-for="Password" id="current-password" name="current-password" class="fadeIn third" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="RememberMe"></label>
                        <input asp-for="RememberMe" />
                        <span asp-validation-for="RememberMe"></span>
                    </div>

                    <input id="login" type="submit" class="fadeIn fourth" value="Log In">
                </form>
            </div>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <div class="form-inline justify-content-between">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                    <a class="underlineHover" asp-controller="Register" asp-action="Index">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ignored").submit(function (e) {
            e.preventDefault();

            var form = $(this);
            var url = "@Url.Action("Login")";

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function (data) {
                    $("#msg").text(data); // show response from the php script.
                }
            });
        })
    });

</script>
