
@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/news/detail.css" />
<div class="background-top">
    <div class="title text-center">
        <h1>This news has been removed!</h1>
        <a class="btn btn-outline-primary" asp-action="Index">Go to news page</a>
    </div>
</div>
