
@{
    ViewData["Title"] = "Download";
}
<link rel="stylesheet" href="~/css/home/download.css" />
<div class="background">
    <div class="form-group text-center">
        <h1>
            Download the latest version
        </h1>
        <p>
            Minecraft v1.15.2
        </p>
        <a class="btn btn-outline-light" href="https://google.ca/">Download</a>
    </div>
</div>
