@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home/home.css" />
<div class="container-fluid">
    <div class="row page-header">
        <div class="col-md-6 col-sm-12 my-auto">
            <div class="row">
                <div class="col text-center">
                    <h1 class="page-header">Welcome to Hunting World</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h3 class="page-header">Jump into the dark, danger and challenge world</h3>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light mt-5" style="color: wheat">Download Game</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row justify-content-center mt-5">
                <div class="polaroid">
                    <img src="~/pic/home-banner.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row page-split"></div>
    <div class="row justify-content-center">
        <div class="container">


        </div>
    </div>
    <div class="row col">
        <div class="row">
            <div class="col row">
                <div class="col-5 my-auto">
                    <h2 class="text-center">Build Your Dream House</h2>
                </div>
                <div class="col-7">
                    <div class="row justify-content-center">
                        <div class="polaroid">
                            <img src="~/pic/home/pic6.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col row">
                <div class="col-7">
                    <div class="row col justify-content-center">
                        <div class="polaroid">
                            <img src="~/pic/home/pic3.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-5 my-auto">
                    <h2 class="text-center">Find Beautiful of the World</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col row">
                <div class="col-5 my-auto">
                    <h2 class="text-center">Pick Up Your Pickaxe</h2>
                </div>
                <div class="col-7">
                    <div class="row justify-content-center">
                        <div class="polaroid">
                            <img src="~/pic/home/pic5.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col row">
                <div class="col-7">
                    <div class="row col justify-content-center">
                        <div class="polaroid">
                            <img src="~/pic/home/pic4.png" alt="" width="100%">
                        </div>
                    </div>
                </div>
                <div class="col-5 my-auto">
                    <h2 class="text-center">Enjoy Mining and Adventure</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="container">
            <div class="row col justify-content-center">
                <div>
                    <h1>Look around in the hunting world</h1>
                    <hr>
                </div>
            </div>

            <div class="mt-5">
                <div class="row">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="@String.Concat("/pic/home/pic", i+1, ".png")">
                                <div class="card-body">
                                    <p class="card-text">Pic @i</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
