@{
    ViewData["Title"] = "Privacy Policy";
}
<link rel="stylesheet" href="~/css/home/about.css" />
<div>
    <div style="background-color: #343a40">
        <div class="container" style="transform: translateY(40px);">
            <h1 class="about">@ViewData["Title"]</h1>
            <p class="about">This is a demo websit built by Jingyuan Ma.</p>
            <p class="about">Feel free to sign up and sign in. There is no gurantee that your account will be safe as a Google account.</p>
        </div>
        <div class="page-split"></div>
    </div>
    <div style="transform: translateY(-20px)">
        <div class="mt-2 container text-center" style="transform: translateY(40px)">
            <h1 class="contact">Contact US</h1>
            <p class="contact">If you have any question, please feel free to contact me.</p>
            <p class="contact">Email: majingyuan2000@gmail.com</p>
        </div>
    </div>
</div>