<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 100">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="../../assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Hunting World
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :to="{name:'news'}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :to="{name:'download'}">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" :to="{name:'about'}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav form-inline my-2 my-lg-0">
                    <li v-if="!user.username" class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                    <li v-if="!user.username" class="nav-item">
                        <a class="nav-link" asp-controller="Register" asp-action="Index">Register</a>
                    </li>
                    <li v-if="user.username && user.is_admin===1" class="nav-item">
                        <a class="nav-link" :to="{name:'admin'}">Admin Board</a>
                    </li>
                    <li v-if="user.username && user.is_admin===1" class="nav-item">
                        <a class="nav-link" :to="{name:'add-news'}">Post News</a>
                    </li>
                    <li v-if="user.username" id="profile" class="nav-item dropleft">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </a>
                        <div class="dropdown-menu justify-content-center" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item dropdown-hover" :to="{name:'profile'}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item dropdown-hover" >Logout</button>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Demo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
